* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Arial;
}

.title {
	text-align: center;
}

#wrapper {
	text-align: center;
}

.board-table {
	text-align: center;
	position: relative;
	width: 100%;
}

/*display none by default*/
.board-modal {
	display: none;
}

.board-modal.active {
	position: absolute;
	top: 0;
	left: 30%;
	width: 40%;
	height: 100%;
	background: rgba(255,0,0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;	
}

/*BOARD STYLES:*/
.game-board {
	width: 40%;
	margin: 0 auto;
	border-collapse: collapse;
}

.game-board td {
  width: 33.333%;
  border: 6px solid #222;
}

.game-board td::after {
  content: "";
  display: block;
  margin-top: 100%;
  width: 100%;
}

.game-board td {
  border: 6px solid #222;
}

.cell {
	position: relative;
}

/*BOX STYLES:*/
.box {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;		
}

.box:hover {
	cursor: pointer;
	background: gray;
}


/*BOARD CONTROL STYLES*/
.board-controls {
	margin-bottom: 25px;
}

.board-controls button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;	
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;  
}

.board-controls button:hover {
	cursor: pointer;
}